<%= form_for(owner) do |f| %>
  <% if owner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(owner.errors.count, "error") %> prohibited this owner from being saved:</h2>

      <ul>
      <% owner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :full_name %>
    <%= f.text_field :full_name %>
  </div>

  <div class="field">
    <%= f.label :email %>
    <%= f.text_field :email %>
  </div>

  <div class="field">
    <%= f.label :blood_type %>
    <%= f.text_field :blood_type %>
  </div>

  <div class="field">
    <%= f.label :ssn %>
    <%= f.text_field :ssn %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :balance_in_cents %>
    <%= f.number_field :balance_in_cents %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
