<p id="notice"><%= notice %></p>

<p>
  <strong>Full name:</strong>
  <%= @owner.full_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @owner.email %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @owner.blood_type %>
</p>

<p>
  <strong>Ssn:</strong>
  <%= @owner.ssn %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @owner.phone_number %>
</p>

<p>
  <strong>Balance in cents:</strong>
  <%= @owner.balance_in_cents %>
</p>

<% @owner.pets.each do |pet| %>
  <%= link_to pet.name, pet %>
<% end %>

<%= render partial: 'comments/list', locals: {commentable: @owner} %>

<%= link_to 'Edit', edit_owner_path(@owner) %> |
<%= link_to 'Back', owners_path %>
