<%= form_for(appointment) do |f| %>
  <% if appointment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
      <% appointment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :expected_at %>
    <%= f.datetime_select :expected_at %>
  </div>

  <div class="field">
    <%= f.label :pet_id %>
    <%= f.select :pet_id, Pet.all.map {|p| [p.name, p.id] }, include_blank: true %>
  </div>

  <div class="field">
    <%= f.label :reason %>
    <%= f.text_area :reason %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
